{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Одежда</title>
    <link rel="stylesheet" href="{% static 'css/сlothes.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <form method="get">
        <input type="text" name="search" placeholder="Поиск по названию">
        <button type="submit">Поиск</button>
        <h1>Одежда в наличии</h1>
    </form>
    </header>
    <div class="container">
{% for clothes in clothes_list %}
<div class="card">
    {% if clothes.photo %}
        <img src="{{ clothes.photo.url }}" alt="Фото одежды" class="long">
    {% endif %}
    <div class="minibox">
            <h1>{{ clothes.name }}</h1>
            <h4>{{ clothes.price }}</h4>
            <p>{{ clothes.text }}</p>
    </div>
</div>
{% endfor %}
</div>
</body>
</html>